:root {
    --white: #FEFFFE;
    --lavendar: #E9EBF8;
    --cadetblue: #B4B8C5;
    --quicksilver: #A5A299;
    --taupe: #8D818C;
}

a {
    color: var(--taupe);
}
a:hover {
    color: var(--cadetblue);
}

a:visited {
    color: var(--quicksilver)
}

body {
    background-color: var(--white);
}

#footer{
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}

.btn {
    background-color: var(--taupe);
    border-color: var(--white);
}

.btn-outline-success{
    color: var(--white);
}

.btn:hover, .btn:active, .btn:focus, .btn:visited {
    background-color: var(--quicksilver);
    border-color: var(--taupe);
}

footer {
    color: white;
    background-color: navy;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0 , 0, 0, 0.3)),
    url("../img/waterbackground.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

#brand {
    border-radius: 50%;
    height: 75px;
    width: auto;
}