<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials.html :: head('Links to Ted\'s Projects')">
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body>
<nav th:replace="partials.html :: navbar"></nav>

<main role="main">

    <div class="container">
        <hr class="featurette-divider">

        <div class="row featurette" id="weathermap">
            <div class="col-md-7">
                <h2 class="featurette-heading">Mapbox and Openweather. <span class="text-muted">Two great APIs that taste better together.</span></h2>
                <p class="lead">This is a fully responsive, fully interactive, mobile responsive Javascript app - it even has a hand-coded autocomplete function on the search bar. It uses jQuery, Bootstrap, AJAX, vanilla Javascript, and CSS and HTML.</p>
                <div class="text-center"><a href="https://github.com/edwardmccormick/codeup-web-exercises/blob/main/weather_map.html" target="_blank"><button type="button" class="btn btn-dark m-1">See the code</button></a><a href="http://tedmccormick.familyds.com/weather_map.html" target="_blank"><button type="button" class="m-1 btn btn-dark">See it live!</button></a></div>
            </div>
            <div class="col-md-5">
                <img src="img/weathermap.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">

            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette" id="moviedatabase">
            <div class="col-md-5 order-2 order-md-1">
                <img src="img/movie.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" id='' aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">

            </div>
            <div class="col-md-7 order-1 order-md-2">
                <h2 class="featurette-heading">A media-front end, ready to integrate with a player. <span class="text-muted">Mobile responsive, modern, and interactive. Just add movies!</span></h2>
                <p class="lead">Another pairs programming project using multiple APIs to communicate with a private server and complete details of entries from a public server. </p>
                <div class="text-center"><a href="https://github.com/Joshua-and-Ted-Kalypso-Movie-Project/movie-database-pairs-programming" target="_blank"><button type="button" class="btn btn-dark m-1">See the code</button></a><a href="movies"><button type="button" class="btn btn-dark m-1" target="_blank">See it live!</button></a></div>
            </div>

        </div>


        <hr class="featurette-divider">

        <div class="row featurette" id="coffeeproject">
            <div class="col-md-7">
                <h2 class="featurette-heading">How about a nice hot cup of coffee? <span class="text-muted">A responsive, interactive, Javascript web app.</span></h2>
                <p class="lead">This is a pairs-programmed vanilla Javascript app that has a ton of functionality and even allows the user to add to the database and display. It's lovingly hand-coded with HTML, CSS, Bootstrap, and even touches a bit of LocalStorage and file permanence.</p>
                <div class="text-center"><a href="https://github.com/Jeremiah-and-Ted-Kalypso/coffee-project" target="_blank"><button type="button" class="btn btn-dark m-1 ">See the code</button></a><a href="coffee.html" target="_blank"><button type="button" class="m-1 btn btn-dark">See it live!</button></a></div>
            </div>
            <div class="col-md-5">
                <img src="img/coffeeproject.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" preserveAspectRatio="xMidYMid slice" focusable="false">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette" id="wireframe">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">And lastly, a beautiful, responsive home page mockup. <span class="text-muted">Built off wireframes, ready to be brought live.</span></h2>
                <p class="lead">Another pairs programming project built with Bootstrap, CSS, and HTML. </p>
                <div class="text-center"><a href="https://github.com/Natalie-E-and-Ted-M/pairs-programming-bootstrap" target="_blank"><button type="button" class="btn btn-dark m-1">See the code</button></a><a href="pairs-programming-bootstrap.html"><button type="button" class="btn btn-dark m-1" target="_blank">See it live!</button></a></div>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="img/wireframe.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" id='' aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">

            </div>
        </div>

        <hr class="featurette-divider">

    </div>
    </div>
</main>
<footer th:replace="partials.html::footer"></footer>
</body>
</html>
